.ide-aspects-external-matter-search {
  padding: 15px;
}

.ems-result-item
{
  background-color:white;
}


.ems-result-item {
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: space-around;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  /* border: blue 1px solid; */
}


.card-result:hover
{
   box-shadow: 1px 1px 10px #eb8a8a;
}

.ems-selected-item {
  box-shadow: 1px 1px 10px #a4a3a3;
  margin-top: 10px;
  border-radius: 20px;
  /* padding-left: 5px; */
  /* padding-right: 5px; */
  display: none;
  padding: 20px;
}

.ems-selected-item.ems-show {
  display: block;
}

.selected-item.secure-matter {
  box-shadow: 1px 1px 62px #cb8383;
  margin-top: 10px;
}

.ems-container {
  width: 100%;
}

.ems-placement-item {
  
/* width: 100%; */
  
display: flex;
  
flex-direction: row;
  
align-items: center;
}

.ems-row-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: space-between;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: stretch;
}

.ems-row-group {
  line-height: 20px;
  /* width: 100%; */
  /* display: flex; */
  justify-content: space-between;
  /* align-items: center; */
  /* border: 1px red solid; */
  flex-direction: row;
}

.ems-field-value {
  /* margin-right: 5px; */
}

.ems-icon {
  margin-right: 5px;
}

.ems-row {
  display: flex;
  /* border: red 2px solid; */
  /* width: 100%; */
  flex-direction: row;
  /* text-align: center; */
  justify-content: space-between;
}

.ems-label {
  margin-right: 5px;
}

.ems-label:after {
  content: ":"
}

.ems-icon-container {
  /* border: red; */
  display: flex;
  align-items: center;
  margin: 10px;
}




.ide-aspect-error-detailed-message {
  margin: 0;
  padding: 0;
}


.ide-aspect-error-title {
  color: red;
  font-weight: bold;
  margin: 10px;
  font-family: cursive;
}

.ide-aspect-error-user-message {
  margin-bottom: 10px;
}

.ide-aspect-error-user-message:before {
  content: "- ";
  color: red; 
}

.ide-aspect-error-user-message:after {
  content: "";
  color: red;
}

.ide-aspect-error-detailed-message {
  margin: 0;
  padding: 0;
  text-wrap: pretty;
  overflow: unset;
  overflow-wrap: anywhere;
  width: 100%;
}

.ems-search-result
{
  
display: inline-flex;
}

.ems-each-search-status
{
    /* height: 100px; */
    font-family: 'Barlow';
    display: flex;
    /* flex-direction: row; */
}



.ems-search-result-message 
{
  
}

.ems-search-result-message.completed
{
  
}

.ems-search-result-name
{
  font-weight: bold;
}

.ems-search-result-name::before
{
  content:"["
}
.ems-search-result-name::after
{
  content:"]"
}


.ems-search-result-count
{
  font-weight:bold;
}

.ems-search-result-count::before
{
  content:"["
}
.ems-search-result-count::after
{
  content:"]"
}

.ems-search-result-elapsed-time::before
{
   content:" - "
}