.save-submit-cancel
{
 

}

.save-submit-cancel .button-groups
{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color:#3D4852;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: wrap;
}

.save-submit-cancel .button-groups .buttons
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: 0.1px solid var(--color-primary);
    background-color:#3D4852;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.save-submit-cancel
{
  position: relative;
}
.save-submit-cancel:before
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}



.save-submit-cancel .btn
{
    width: 200px;
}

.save-submit-cancel .icon
{
    margin: 5px;
}

.save-submit-cancel .btn.btn-primary
{
    border: blue 3px solid;
}

.save-submit-cancel .btn.success .icon
{
  color: var(--color-primary-on-dark-bg)
}


.save-submit-cancel .button-groups .buttons .toPhaseRemoved
{
  background-color: var(--color-danger);
}

.save-submit-cancel .button-groups .buttons .toPhaseOptimumPath
{
  background-color: var(--color-success);
}

.save-submit-cancel .button-groups .buttons .save
{
  background-color: transparent;
  color: var(--color-success)
}

.save-submit-cancel .button-groups .buttons .save:hover
{

  border: 1px solid var(--color-success);

}

.save-submit-cancel .button-groups .buttons .cancel
{
  background-color: transparent;
  border: grey;
  color: var(--color-primary-on-dark-bg)
}

.save-submit-cancel .button-groups .buttons .cancel:hover
{

  border: 1px solid var(--color-primary-on-dark-bg);
  color: var(--color-primary-on-dark-bg)
}

